<div class="card">
    <div class="title">
        <h3>{{post.Posts.[0].title}}</h3>
        <p>{{post.username}}</p>
        <p>{{post.Posts.[0].createdAt}}</p>
    </div>
<p>{{post.Posts.[0].body}}</p>
<form id="comment-box">
    <input type="text" name="comment-text" placeholder="Leave a comment!"/>
    <button id="commentBtn">Comment</button>
</form>
</div>
{{#each post.comment}}
<div>
    <div>
        <h5>{{user.username}}</h5>
        <p>{{createdAt}}</p>
    </div>
    <p>{{comment.body}}</p>
</div>
{{/each}}
