<div class="card" style="border: solid;margin: 0 5% 5% 5%;">
    <div class="title">
        <h3 style="padding: 1rem;margin: 0;">{{post.title}}</h3>
        <p style="padding: 1rem;margin: 0;">{{post.User.username}}</p>
        <p style="padding: 1rem;margin: 0;">{{post.createdAt}}</p>
    </div>
<p style="padding: 1rem;margin: 0;">{{post.body}}</p>
<form id="comment-box">
    <input id="comment-text" type="text" name="comment-text" placeholder="Leave a comment!"/>
    <button id="commentBtn">Comment</button>
</form>
</div>
<h3 style="margin: 0 5%">Comments:</h3>
<div class="comments-container">
{{#each post.Comments}}
<div style="border: solid;margin: 0 5% 5% 5%;padding: 1rem;width: 70%">
    <div>
        <h5>{{User.username}}</h5>
        <p>{{createdAt}}</p>
    </div>
    <p>{{body}}</p>
</div>
{{/each}}
</div>
