<div class="card">
    <div class="title">
        <h3>{{post.title}}</h3>
        <p>{{post.User.username}}</p>
        <p>{{post.createdAt}}</p>
    </div>
<p>{{post.body}}</p>
<form id="comment-box">
    <input id="comment-text" type="text" name="comment-text" placeholder="Leave a comment!"/>
    <button id="commentBtn">Comment</button>
</form>
</div>
{{#each post.Comments}}
<div>
    <div>
        <h5>{{User.username}}</h5>
        <p>{{createdAt}}</p>
    </div>
    <p>{{body}}</p>
</div>
{{/each}}
